body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #b80909;
      color: white;
      text-align: center;
      padding: 10px;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
      padding: 5px 10px;
    }

    nav a:hover {
      background-color: #6e0000;
      border-radius: 5px;
    }

    section {
      background-color: white;
      margin: 20px;
      padding: 15px;
      border-radius: 10px;
    }

    h2 {
      text-align: center;
      color: #ad000e;
    }

    
    .about img {
      display: block;
      margin: 0 auto;
      width: 150px;
      border-radius: 50%;
    }

    .about p {
      text-align: center;
    }

   
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }

    th, td {
      border: 1px solid #ad0000;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #ad0011;
      color: white;
    }

    
    .project {
      background-color: #e8f0fe;
      padding: 10px;
      margin: 10px 0;
      border-radius: 8px;
    }

    .project h3 {
      margin-bottom: 5px;
    }

    form {
      text-align: center;
    }

    input, textarea {
      width: 80%;
      padding: 8px;
      margin: 5px 0;
      border: 1px solid #b70505;
      border-radius: 5px;
    }

    button {
      background-color: #bd0808;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: #6e0007;
    }

    footer {
      background-color: #6e0000;
      color: white;
      text-align: center;
      padding: 10px;
      position: relative;
    }

    #topBtn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #ad0000;
      color: white;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    #topBtn:hover {
      background-color: #6f0303;
    }